@model CreateRole

@{
    ViewBag.Title = "Create Role";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="UIControl">
                @(Html.DevExtreme().TextBox()
                    .ID("RoleName")
                    .Width(130)
                    .Placeholder("Enter Roll Name")
                )
            </div>

            <button type="submit" class="btn btn-primary">Create Role</button>
            
        </form>
    </div>
</div>