<div class="text-center">
    <img src="~/images/no_access.png" style="height: 300px; width: 300px"/>
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You don't have permission to view this resource</h6>
</div>